.Main div{

}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}

ul {
    list-style-type: none;

}

li {
   float: left;

    margin-left: 10px;
    text-align: left;

}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;

}



li a:hover,.dropdown:hover{
    color: red;
}

a img{
    height: 70px;
    width: 50px;
    padding: 0px;
    position: absolute;

}

span{
    text-align: center;
}

input[type=text] {
    width: 60%;
    box-sizing: border-box;
    border: 3px solid #f80;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://static.runoob.com/images/mix/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    text-align: center;

}

input[type=text]:focus {
    border: 3px solid #f80;
    border-radius: 4px;
}
button{
    background-color: #f80;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.search .search_container div{
    text-align: center;
    padding-top: 20px;
}

.row{

}
.col{
    background-color: #F9FAFB;
    padding: 5px;

    text-align: center;
}




.container {
    display: grid;
    grid-template-columns: 100px 100px 100px; <!--repeat(3, 33.33%);-->
    grid-template-rows: 100px 100px 100px;
}

.PageTop{
    height: 60px;
    width: 100%;
 //   border: solid;
    border-bottom-style: solid;
    border-color: white;
    overflow: hidden;
}
.PageTop a img{
    border: 1px solid yellow;
    width: 100%;

}

.Header{
    height: 200px;
    width: auto;
}
.Header .login{
    height: 29px;
    border-bottom-style: solid;
    border-color: white;
    background: #f8f8f8;

}
.Header .search{
    height: 85px;


}
.Header .Nav_first{
    height: 40px;

}


.dropdown {
    position: relative;
    display: inline-block;
    height: 30px;
    /*width: 20px;*/
    min-width: 170px;
    margin-left: 20px;
    text-align: center;


}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    padding: 12px 16px;

}
.dropdown:hover .dropdown-content {
    display: block ;
    color:black;

}


.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    background-color: lightgrey;
    height: 170px;
}
.flex-item_aside {
    background-color: cornflowerblue;
    width: 20%;
    height: 100%;

    background-color: white;
}
.flex-item_center {
    background-color: cornflowerblue;
    width: 60%;
    height: 100%;
    background-color: white;
}

.search_container{
    margin-left: 110px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 85px ;
    vertical-align: middle
}

.search_container .dropdown{
    margin-top: 30px;
}



.Nav_first ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b8f08;
    height: 40px;
}

.Nav_first li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    text-align: center;
}

.Nav_first li a:hover {
    background-color: #38c249;
}

.Nav_verticalOne li{
    float: none;
    margin-left: 0px;
    margin-top: 0px;
    background: #333333;

}

.Nav_verticalOne ul{
    list-style-type: none ;
    margin-top: 5px;
    padding: 0 ;
    width: 118px;
    display: inline-block;


    background-color: #f1f1f1;

}




.Nav_verticalOne li a{
    display: block ;
    color: #f9f9f9;
    padding: 9px 16px;
    text-decoration: none ;
    width: 86px;
    height: 51px;
}

.Nav_verticalOne li a.active {
    background-color: white;
    color: green;
}

.Nav_verticalOne li a:hover:not(.active) {
    background-color: white;
    color: green;
}

.Vice_nav{
    margin-top: 5px;
    height: 414px;
    width: 350px;
    display: inline-block;
    vertical-align: top;

}
.Vice_nav1{
    display: none;
}
.Vice_nav2{
    display: none;
}
.Vice_nav3{
    display: none;
}
.Vice_nav4{
    display: none;
}
.Vice_nav5{
    display: none;
}


#one1 a:focus:after  {
    content: "holiday";
    margin-top: -30px;
    margin-left: 102px;
    height: 414px;
    width: 350px;
    display: inline-block;
    vertical-align: top;
    background-color: grey;

}  /*need a father-son relationship*/
#one2 a:focus:after  {
    content: "Airplane";
    margin-top: -120px;
    margin-left: 102px;
    height: 414px;
    width: 350px;
    display: inline-block;
    vertical-align: top;
    background-color: gold;
}

#one3 a:focus:after  {
    content: "hotel";
    margin-top: -168px;
    margin-left: 102px;
    height: 414px;
    width: 350px;
    display: inline-block;
    vertical-align: top;
    background-color: aliceblue;

}

#one4 a:focus:after  {
    content: "Train";
    margin-top: -237px;
    margin-left: 102px;
    height: 414px;
    width: 350px;
    display: inline-block;
    vertical-align: top;
    background-color: navajowhite;
}

#one5 a:focus:after  {
    content: "Ship";
    margin-top: -306px;
    margin-left: 102px;
    height: 414px;
    width: 350px;
    display: inline-block;
    vertical-align: top;
    background-color: lavender;
}
#one6 a:focus:after  {
    content: "Entrance";
    margin-top: -396px;
    margin-left: 102px;
    height: 414px;
    width: 350px;
    display: inline-block;
    vertical-align: top;
    background-color: royalblue;
}

.Main{

    display: grid;
    grid-template-columns: 30% repeat(3,23.3333%); <!--repeat(3, 33.33%);-->
    grid-template-rows: repeat(6, 300px);

    background-image: url("Pic/sea.jpg");


}

section {

    /*width: 100px;*/
    height: 200px;
/*background: #f9f9f9;*/
/*    border: solid lightcoral;*/
    padding-top: 30px;
    padding-bottom: 20px;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 20px;
}



section div{
    width: 250px;
    height: 180px;
    background: #f9f9f9;

    text-align: center;
    vertical-align: middle;
}

section div a img{
    height: auto;
    width: auto;
    padding:10px;


}

footer{
    text-align: center;

}